html {
    background-color: #272727;
}

.sun {
    top: 150px;
    left: 400px;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-image: linear-gradient(#D61C4E, #FEF9A7);
}